* {
  border-radius: 0 !important; }

html, body {
  height: 100%; }

h1 {
  font-size: 6vw;
  font-weight: bolder; }

h2 {
  font-size: 5vw; }

h3 {
  font-size: 4vw;
  font-weight: lighter; }

h4 {
  font-size: 3vw; }

.bg-dark {
  background-color: transparent !important; }

#hero {
  background: #FFF;
  height: 100vh; }

button {
  text-transform: uppercase; }

#about {
  background-color: #2e3133;
  color: #FFF;
  height: 100vh; }

#work {
  background-color: #868e96;
  color: #FFF;
  min-height: 100vh; }

#contact {
  background-color: #6c757d;
  color: #FFF;
  height: 100vh; }

.footer ul {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  list-style-type: none;
  padding-left: 0; }

.footer ul li {
  display: inline; }
